<div class="page" ng-controller="GameController as gameCtrl">
<h1>Minesweeper Game</h1>
<div ng-include="'views/game-configuration.html'"></div>
<div ng-include="'views/board-area.html'"></div>
</div>
<div>
</div>