<div class="page" ng-controller="GameController as gameCtrl">
<h1>Minesweeper Game</h1>
<div ng-include="'views/game-configuration.html'"></div>
<div ng-include="'views/board-area.html'"></div>
<div class="pop-up-image" ng-class="{'hide': (gameCtrl.isInState('initial') || gameCtrl.isInState('game')), 'win' :gameCtrl.isInState('win'), 'lose' :gameCtrl.isInState('lose')}" ng-click="gameCtrl.state='initial'"></div>